<h1>Enrique Lopez</h1>
<%= image_tag("1.JPG", :size => "400x300")%>
<body>
	<br/>
	<p1><font color="white"> <background color ="green">
	I am from Hawthorne, CA.
	</font></bg>
	<p1>
	<br/>
	<p2>
	<font color="black">
	Sophomore
	<p2>
	<br/>
	<p3>
	<b>
	<font color = "red">
	Training for a half marathon
	</font>
	</b>
	<p3>
	<br/>
	<p4>
	<font color = "blue">
	<u>
	I expect every week of class to beexciting.
	</u>
	<font>
	<p4>
<body>